* {
    margin: 0px;
    padding: 0px;
    font-family: 'Mali', cursive;
}

.wrapper {
    width: 100%;
}

::placeholder {
    color: rgb(193, 193, 193);
}

body{
    background-image: linear-gradient(to top, #100621, #151c35, #1a2e4a, #1c415f, #1d5572);
    min-height: 100vh;
}

form input {
    padding: 0 1rem;
}

form button{
    padding: 0 0.5rem;
}

.checklist_container  {
    color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#checklist_input {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checklist_input select, #checklist_input input, #checklist_input button {
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.19);
    background: #007bc3;
    opacity: 1;
    min-height: 50px;
}

#checklist_input button:hover {
    background: #1f5886d9;
    cursor: pointer;
    transition: 0.1s;
    transition-duration: 0.5s;
}

.checklist_list {
    max-width: 100%;
    list-style: none;
}

.task {
    border-radius: 15px;
    padding: 5px;
    margin: 0.5rem;
    color: rgb(175, 175, 175);
    background-color: rgb(0 0 0 / 12%);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task li {
    flex: 0.85;
    min-width: 100px;
    max-width: 50%;
    word-wrap: break-word;
    font-size: medium;
    margin-right: 10px;
}

.task_checkbox {
    transform: scale(3);
}

.delete_button {
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.595);
}

.delete_button, .task_checkbox {
    cursor: pointer;
    border: none;
    padding: 0.8rem;
}

.delete_button:hover {
    background: #747474d9;
    cursor: pointer;
    transition-duration: 0.5s;
}

.move_away {
    transform: translateX(15rem);
    transition-duration: 0.5s;
    opacity: 0;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    transition-duration: 1s;
    opacity: 0;
}

.order_by_selection select {
    padding: 0.4rem;
    border-radius: 50px;
    background-color: #007bc3; 
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

@media only screen and (max-width: 280px) {
    #checklist_input {
        flex-direction: column;
    }
    #checklist_input button, #checklist_input input{
        margin-top: 10px;
        padding: 0 2rem;
    }
    .checklist_list {
        max-width: 80%;
    }

    .task li {
        min-width: 100px;
        max-width: 50%;
        word-wrap: break-word;
        font-size: small;
        margin-right: 10px;
    }

    .delete_button {
        padding: 0.5rem;
        margin-left: 10px;
    }

    .task_checkbox {
        transform: scale(2);
    }
}

@media only screen and (min-width: 768px) {
    #checklist_input select, #checklist_input input, #checklist_input button {
        min-height: 75px;
        min-width: 100px;
        font-size: large;
        margin-right: 15px;
    }

    .task_checkbox {
        margin-right: 5px;
    }

    .checklist_list {
        max-width: 35%;
        min-width: 400px;
    }

    .task li {
        max-width: 70%;
        word-wrap: break-word;
        font-size: large;
    }
}